
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;1,400&display=swap');

.direct{
    display:inline
}




*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.direct{
    color: #8d1818;

}
.CR7{

    color:green;
    border-color: blue;
}

